<odoo>
    <!-- Acción para la vista de películas -->
    <record id="action_pelicula_tree" model="ir.actions.act_window">
        <field name="name">Películas</field>
        <field name="res_model">alquiler.pelicula</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p>
                Aquí puedes gestionar las películas disponibles en el sistema.
            </p>
        </field>
    </record>

    <!-- Menú raíz del módulo de alquiler -->
    <menuitem id="menu_alquiler_root" name="Gestión de Alquiler" sequence="10"/>

    <!-- Menú para las películas -->
    <menuitem id="menu_peliculas" parent="menu_alquiler_root" name="Películas" action="action_pelicula_tree"/>
</odoo>
